rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == "YOUR_FIREBASE_UID;
    }
    match /users/{userId}/cart/{itemId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/orders/{orderId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if false;
    }
  }
}